<div class="container">
        <div class="row">
            <div class="col-sm-12" align="center">

            <div class="panel panel-primary" align="left">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Log In</strong></h3>
                </div>
                
                <div class="panel-body">
				
				<h2>{{recipe.name}}</h2>

				<p>{{recipe.description}}</p>

				<img src="{{smoothie.imgurl}}" alt="{{smoothie.name}}">

				<h3>Ingredients:</h3>
				
				{{ingredients}}
				
				<h3>Instructions:</h3>

				<p>{{recipe.instructions}}</p>

                </div>

            </div>
        </div>
	</div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    
</script>